html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: relative;
}

#gameframe {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.gameframe-extension {
    width: 100%;
    height: 50px;
    display: block;
    position: relative;
    bottom: 0px;
    background-color: #F00;
}

.gameframe-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.8);
}